isort
httpx
arrow
loguru
returns
rich
cerberus
cattrs
attrs
click
marshmallow
deepdiff
sortedcontainers
more-itertools 
glom
typer
funcy
python-dateutil
structlog 
apscheduler
pytest
pytest-json-report
pytest-cov
libcst
rope
asttokens
openai 
mistralai 
python-dotenv 
tqdm 
pandas 
matplotlib 
seaborn
